* {
    margin:0;
    padding: 0;
}

body{
    background-color: black;
}

/*
.container{
    font-family: sans-serif;
    grid-template-columns: 2.5fr 6fr;
    column-gap: 10px;
    background-color: black;
    color: white;
}
*/

.logo{
    width: 250px;
    height: 80px;
    background: black;
}

nav > *{
    font-size: 18px;
    background: black;
}

.navbar{
    color: white;
}

.navbar-nav{
    text-decoration: none;
    color: white;
    padding: 1.6rem;
}

.menu_items a:hover{
    color: rgba(193,0,151,255);
}

/* Sección central de la página*/

.cuerpo{
    column-gap: 10px;
    row-gap: 5px;
    background-color: black;
}

.cuerpo h2{
    color: #2879f3;
}

section > *{
    display: flex;
    align-items: center;
    background: black;
    color: white;
}

.topImage{
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

/*Para el botón de la inscripción*/

#subinput{
    background-color: grey;
    border-radius: 5px;
}

#subbutton{
    font-size: 16px;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: rgba(193,0,151,255);
    color: white;
    border-radius: 10px;
    animation: animacion 3s infinite;
}

@keyframes animacion{
    0%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(193,0,151, .5); 
    }
    70%{
        transform: scale(.99);
        box-shadow: 0 0 0 20px rgba(193,0,151, 0); 
    }
    100%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(193,0,151, 0); 
    }
}

/*-----Hasta aquí llega el botón-----*/


.videoTitle{
    grid-area: video;
    display: flex;
    flex-direction: column;
    position: relative;
}

.flujoImage{
    width: 1200px;
    position: relative;
    border-radius: 10px;
}

/*----- EMPIEZA QUIENES SOMOS -----*/

.container .member img{
    width: 300px;
}

/*-----TERMINA QUIENES SOMOS-----*/

/*-----EMPIEZA FORMULARIO CONTACTIO-----*/

.container h1{
    color:#2879f3;
}

.container .row{
    color: white
}
/*-----HASTA AQUí LLEGA FORMULARIO CONTACTO-----*/

/*----Productos empieza aquí----*/

.container{
    flex-direction: column;
}

.row{
    padding: 10px 10px;
}

.card-title{
    color: rgba(193,0,151,255);
}

.card-text{
    color: black;
}

.card-img-top{
    height: 450px;
}

.card-body{
    height: 200px;
}

/*-----Productos termina aquí-----*/

/*-----Soluciones empieza acá-----*/

.solucionesCards .card-img-top{
    height: 550px;
    width: 800px;
}

.solucionesCards .card-body{
    height: 150px;
    width: 200px;
}
.solucionesCards .card-title{
    width: 800px;
}

.solucionesCards .card-text{
    width: 750px;
    text-align: center;
}

/*-----Soluciones termina acá.-----*/

/*Footer comienza acá*/

.footer-cont h4{
    color: rgba(193,0,151,255);
    padding-left: 0;
}

/*Logo del footer*/

.imgFooter{
    width: 150px;
}

.footer-cont .container ul{
    padding-left:0;
    list-style: none;
}

.footer-cont .container ul a{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    display: inline-block;
}

.footer-cont .container p{
    font-size: 12px;
}

.footer-cont ul a:hover{
    color: rgba(193,0,151,255);
}

/*-----Footer termina acá-----*/