* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.logo {
  height: 80px;
  width: 250px;
  background: black;
}

nav > * {
  font-size: 18px;
  background: black;
}

.navbar {
  color: white;
}
.navbar .navbar-nav {
  text-decoration: none;
  color: white;
  margin: 1.6rem;
  padding: 0;
}

.menu_items a:hover {
  color: #c10097;
}

.cuerpo {
  column-gap: 10px;
  row-gap: 5px;
  background: black;
}
.cuerpo h2 {
  color: #2879f3;
}

section > * {
  display: flex;
  align-items: center;
  background: black;
  color: white;
}

.topImageClass {
  position: relative;
  overflow: hidden;
}
.topImageClass .topImage {
  height: 350px;
  width: 100%;
  border-radius: 10px;
}
.topImageClass:before {
  height: 220%;
  position: absolute;
  content: "";
  width: 80%;
  background: rgba(235, 53, 131, 0.7);
  top: -50%;
  left: -100%;
  z-index: 1;
  transform: rotate(25deg);
  transform-origin: center top 0;
  transition: 0.5s;
}
.topImageClass:hover:before {
  left: 1%;
}
.topImageClass:hover .card-text {
  top: 80px;
  text-align: left;
}
.topImageClass .card-text {
  width: 100%;
  margin: 0;
  padding: 0 20px;
  position: absolute;
  top: -100%;
  color: #fff;
  left: 0;
  z-index: 2;
  transition: 1.1s;
}
.topImageClass .card-text h3 {
  font-family: poppins;
}

.row #subinput {
  background-color: grey;
  border-radius: 5px;
}
.row #subbutton {
  font-size: 16px;
  background: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-color: #c10097;
  color: white;
  border-radius: 10px;
  animation: animacion 3s infinite;
}

@keyframes animacion {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(193, 0, 151, 0.5);
  }
  70% {
    transform: scale(0.99);
    box-shadow: 0 0 0 20px rgba(193, 0, 151, 0);
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(193, 0, 151, 0);
  }
}
.container {
  flex-direction: column;
}
.container h1 {
  color: #2879f3;
}
.container h4 {
  color: color-paleta2;
}
.container .member img {
  width: 300px;
}
.container .member h6 {
  color: rgba(131, 124, 127, 0.87);
}
.container .row {
  color: white;
  padding: 10px 10px;
}
.container .row .card-title {
  color: #c10097;
}
.container .row .card-text {
  color: black;
}
.container .row .cardBorder {
  border: 3px solid #2879f3;
  border-radius: 5px;
}
.container .row .cardBorder .imageEffect {
  overflow: hidden;
}
.container .row .cardBorder .imageEffect img {
  transition: all 1.5s ease;
}
.container .row .cardBorder .imageEffect:hover img {
  transform: scale(1.2);
}
.container .row .card-img-top {
  height: 450px;
}
.container .row .card-body {
  height: 200px;
}
.container .solucionesCards .card-img-top {
  height: 330px;
  width: 600px;
}
.container .solucionesCards .card-body {
  height: 150px;
  width: 200px;
}
.container .solucionesCards .card-title {
  width: 600px;
}
.container .solucionesCards .card-text {
  width: 550px;
  text-align: center;
}

.title .row .img-fluid {
  margin-bottom: 30px;
}

.footer-cont h4 {
  color: #c10097;
  padding-left: 0;
}
.footer-cont .imgFooter {
  width: 150px;
}
.footer-cont .container ul {
  padding-left: 0;
  list-style: none;
}
.footer-cont .container ul a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  display: inline-block;
}
.footer-cont .container ul a:hover {
  color: #c10097;
}
.footer-cont .container p {
  font-size: 12px;
}

/*# sourceMappingURL=main.css.map */
