* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.logo {
  height: 80px;
  width: 200px;
  background: black;
}

nav > * {
  font-size: 18px;
  background: black;
}

.navbar {
  color: white;
}
.navbar .navbar-nav {
  text-decoration: none;
  color: white;
  margin: 1.6rem;
  padding: 0;
}

.menu_items a:hover {
  color: #c10097;
}

.cuerpo {
  column-gap: 10px;
  row-gap: 5px;
  background: black;
}
.cuerpo h2 {
  color: #2879f3;
}

section > * {
  display: flex;
  align-items: center;
  background: black;
  color: white;
}

.topImageClass {
  position: relative;
  overflow: hidden;
}
.topImageClass .topImage {
  height: 350px;
  width: 100%;
  border-radius: 10px;
}
.topImageClass:before {
  height: 220%;
  position: absolute;
  content: "";
  width: 80%;
  background: rgba(235, 53, 131, 0.7);
  top: -50%;
  left: -100%;
  z-index: 1;
  transform: rotate(25deg);
  transform-origin: center top 0;
  transition: 0.5s;
}
.topImageClass:hover:before {
  left: 1%;
}
.topImageClass:hover .card-text {
  top: 80px;
  text-align: left;
}
.topImageClass .card-text {
  width: 100%;
  margin: 0;
  padding: 0 20px;
  position: absolute;
  top: -100%;
  color: #fff;
  left: 0;
  z-index: 2;
  transition: 1.1s;
}
.topImageClass .card-text h3 {
  font-family: poppins;
}

.row #subinput {
  background-color: grey;
  border-radius: 5px;
}
.row #subbutton {
  font-size: 16px;
  background: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-color: #c10097;
  color: white;
  border-radius: 10px;
  animation: animacion 3s infinite;
}

@keyframes animacion {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(193, 0, 151, 0.5);
  }
  70% {
    transform: scale(0.99);
    box-shadow: 0 0 0 20px rgba(193, 0, 151, 0);
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(193, 0, 151, 0);
  }
}
.container {
  flex-direction: column;
}
.container h1 {
  color: #2879f3;
}
.container h4 {
  color: color-paleta2;
}
.container .member img {
  width: 300px;
}
.container .member h6 {
  color: rgba(131, 124, 127, 0.87);
}
.container .row {
  color: white;
  padding: 10px 10px;
}
.container .row .card-title {
  color: #c10097;
}
.container .row .card-text {
  color: black;
}
.container .row .cardBorder {
  border: 3px solid #2879f3;
  border-radius: 5px;
}
.container .row .cardBorder .imageEffect {
  overflow: hidden;
}
.container .row .cardBorder .imageEffect img {
  transition: all 1.5s ease;
}
.container .row .cardBorder .imageEffect:hover img {
  transform: scale(1.2);
}

.title .row .img-fluid {
  margin-bottom: 30px;
}
.title .videoRedes {
  width: 100%;
  position: relative;
}
.title .videoRedes iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.footer-cont h4 {
  color: #c10097;
  padding-left: 0;
}
.footer-cont .imgFooter {
  width: 150px;
}
.footer-cont .container ul {
  padding-left: 0;
  list-style: none;
}
.footer-cont .container ul a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  display: inline-block;
}
.footer-cont .container ul a:hover {
  color: #c10097;
}
.footer-cont .container p {
  font-size: 12px;
}

.name {
  color: #2879f3;
}

@media (max-width: 265px) {
  .logo {
    width: 70px;
    height: 28px;
  }

  .row .parrafo p {
    font-size: 14px;
  }
}
@media (max-width: 365px) {
  .logo {
    width: 150px;
    height: 60px;
  }

  .row .parrafo p {
    font-size: 14px;
  }

  .topImageClass {
    position: relative;
    overflow: hidden;
  }
  .topImageClass .topImage {
    height: 100px;
    width: 100%;
    border-radius: 5px;
  }
  .topImageClass:before {
    height: 100%;
    position: absolute;
    content: "";
    width: 80%;
    background: rgba(235, 53, 131, 0.7);
    top: -10%;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: 0.5s;
  }
  .topImageClass:hover:before {
    left: 1%;
  }
  .topImageClass:hover .card-text {
    top: 10px;
    text-align: left;
  }
  .topImageClass .card-text {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    color: #fff;
    left: 0;
    z-index: 2;
    transition: 1.1s;
  }
  .topImageClass .card-text h3 {
    font-family: poppins;
    font-size: 10px;
  }
  .topImageClass .card-text h5 li {
    font-size: 10px;
    font-family: poppins;
  }

  .container .row .card-body h5 {
    font-size: 12px;
  }
  .container .row .card-body p {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .row h1 {
    font-size: 10px;
  }
  .row .parrafo p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .row h1 {
    font-size: 26px;
  }
}
@media (max-width: 992px) {
  .topImageClass {
    position: relative;
    overflow: hidden;
  }
  .topImageClass .topImage {
    height: 200px;
    width: 100%;
    border-radius: 5px;
  }
  .topImageClass:before {
    height: 180%;
    position: absolute;
    content: "";
    width: 80%;
    background: rgba(235, 53, 131, 0.7);
    top: -20%;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: 0.5s;
  }
  .topImageClass:hover:before {
    left: 1%;
  }
  .topImageClass:hover .card-text {
    top: 10px;
    text-align: left;
  }
  .topImageClass .card-text {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    color: #fff;
    left: 0;
    z-index: 2;
    transition: 1.1s;
  }
  .topImageClass .card-text h3 {
    font-family: poppins;
    font-size: 18px;
  }
  .topImageClass .card-text h5 li {
    font-size: 18px;
    font-family: poppins;
  }
}

/*# sourceMappingURL=main.css.map */
